body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p
  margin: 0

input
  border: none
  outline: none

h1, h2, h3, h4, h5, h6
  font-weight: 400
  margin: 0
  padding: 0

button
  padding: 0
  border: none
  background: transparent
  outline: none
  cursor: pointer

ul, ol, li
  margin: 0
  padding: 0
  list-style: none

i, b
  list-style: none
  font-style: normal

a:focus
  text-decoration: none
a:hover
  color: #ff527d
