/* === 颜色定义 === */
// 主题色
$theme-color = #E7001C

$color-primary = #007BFF
$color-secondary = #6C757D
$color-success = #259A40
$color-danger = #D02A3A
$color-warning = #FFC107


/* === 文字色 === */
$text-color-lv1 = #333
$text-color-lv2 = #666
$text-color-lv3 = #999
$text-color-lv4 = #ccc

/* === 背景色 === */
$bg-color-grey = #eee

/* === 边框色 === */
$border-color = #eee

/* === 过渡时间 === */
$transition-duration = .2s

/* === hover 缩放等级 === */
$scale-level = 1.12

/* === 屏幕分级 === */
$screen-sm-min = 768px
$screen-md-min = 992px
$screen-lg-min = 1200px
